.homepage {
    width: 100%;
}

.homepage-header {
    position: relative;
    width: 100%;
    height: 60vh;

}

.header-image {
    width: 100%;
    height: 100%;
    background: url('../../public/images/header.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-image h1 {
    margin-left: 2rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.popular-pages {
    padding: 20px;
}

.page-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page-card {
    width: 30%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.page-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.page-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.page-card p {
    font-size: 1rem;
    margin: 10px 0;
}

.text-heading {
    color: #B2FFA9;
    display: inline-block;
}